
body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: 'Montserrat', sans-serif;
  padding-top: 250px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  height: auto;
  max-width: 100%;
}
.fa-regular, .far {
  font-weight: 600 !important;
}
.navbar>.container {
  display: block;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
  animation-name: logo;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

.navbar-inner {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  flex-grow: 1;
}
.navbar-inner.nav ul li:first-child {
  padding-top: 0;
}
nav ul {
  padding-left: 0;
}

nav ul li {
  display: block;
  padding: 0.5rem 1rem;
}
nav ul li a {
  color: #000;
  padding: 1rem;
}

nav ul li.active a {
  background-color: #333;
  color: #fff;
}
nav ul li a:hover {
  background-color: #333;
  color: #fff;
} 
.container {
  max-width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}
.navbar {
  background-color: #f8f8f8;
  border-bottom:1px solid #e7e7e7;
}
.navbar-fixed-top {
  top: 0;
}

.banner-text-slide {
  position: relative;
  animation-name: banner-text;
  animation-duration: 2s;
  animation-timing-function: linear;
  
}
.banner-text-slide h2 {
  font-size: 2.5rem;
}

.banner-phone-slide {
  animation-name: banner-phone;
  animation-duration: 2s;
  position: relative;
  margin-bottom: -4px;
  
}
.navbar-nav.right {
  position: relative;
  animation-name: banner-text;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  display: flex;
  justify-content: center;
  
}

.green-box {
  background-color: aquamarine;
}

.yellow-box {
  background-color: rgb(212, 250, 125);
  position: relative;
  animation-name: content-rotate;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}
.blue-box {
  background-color: rgb(38, 239, 61);
  animation-name: content-rotate;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}
.text-box {
  background-color: #fff;
  width: 100%;
  padding: 0.5rem 1.5rem;
}
.one-col {
  min-height: 600px;
  margin-bottom: 2rem;
  
}

.green-box-inside {
  display: flex;
  align-items: center;
  
}
.one-col,.two-cols {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  overflow: hidden;
  text-align: center;
}

@media (min-width:992px) {
  body {
    padding-top: 100px;
  }
  .one-col, .two-cols {
    display: flex;
    text-align: left;
  }
  nav ul {
    padding-left: 2rem;
  }
  nav ul li {
    display: inline-block;
    padding: 0 1rem;
  }
  .flex {
    padding: 4.5rem;
  }
  .text-box {
    width: 50%;
  }
  .navbar>.container, .navbar-inner  {
    display: flex;
  }
  nav ul li:last-child{
    padding-right: 0;
  }
  .container {
    max-width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@keyframes content-rotate {
  0% {
    transform: rotate(29deg);
    position: relative;
    left: -857px;
  }
  50% {
    
  }
  100% {
    transform: rotate(0);
    position: relative;
    left: 0;
  }
}
@keyframes logo {
  0%{
    left: -200px;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% { 
    left: 0;
    opacity: 1;
  }
  
}

@keyframes banner-text {
  0%{
    right: -200px;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {  right: 0; opacity: 1;}
  
}

@keyframes banner-phone {
  0%{
    bottom: -100px;
    opacity: 0;
  }
  50% {
    
  }
  100% {  
    opacity: 1;
    bottom: 0;
  }
  
}